<jdmi-section>
  <sample-container></sample-container>
</jdmi-section>

<jdmi-section>
  <jdmi-h3>overlayClose</jdmi-h3>
  <jdmi-p>overlay 영역 클릭시 닫기 여부</jdmi-p>
</jdmi-section>

<jdmi-section>
  <jdmi-h3>disableShadow</jdmi-h3>
  <jdmi-p>openStrategy 의 shadow 처리 여부</jdmi-p>
  <jdmi-p>
    css box-shadow + animate 는 가벼운 동작이 아니기 shadow 를 사용하지 않는것 만으로도 꽤 나은 퍼포먼스를 보여주는
    경우를 많이 보았습니다. shadow 를 제거하는 방법으로 적합한 방법은 OpenStrategy 직접 만들고 shadow 관련 값을 사용하지
    않으면 되지만, OpenStrategy 에 대한 이해가 어느 정도 쌓였을때 가능할것으로 예상되기 때문에 별도 옵션으로 제공합니다.
  </jdmi-p>
</jdmi-section>
