:host {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  pointer-events: initial;
  > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    transition: opacity 240ms;
    opacity: 0;
  }
  > .modal-panel {
    position: relative;
    display: flex;
    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    > .pivot {
      display: flex;
      box-sizing: border-box;
      // border-radius: 10px;
      // background-color: #ffffff;
      transition: transform 240ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms;
      > .content {
        position: relative;
        overflow: auto;
        box-sizing: border-box;
      }
    }
  }
  &.full-height {
    > .modal-panel {
      height: 100%;
      > .pivot {
        height: 100%;
        > .content {
          height: 100%;
        }
      }
    }
  }
}
