:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  .ly-head {
    height: 50px;
    background: #333;
  }
  .ly-body {
    flex: 1;
    .ly-aside {
      padding: 20px;
    }
    .ly-content {
      padding-bottom: 100px;
    }
  }
}
