:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  .ly-head {
    display: flex;
    align-items: center;
    height: 50px;
    background: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 100;
    .hbar {
      flex: 1;
      padding-left: 8px;
      padding-right: 8px;
    }
    .bside {
      padding-right: 15px;
    }
  }
  .ly-body {
    flex: 1;
    .ly-aside {
      width: 240px;
      background: #fff;
    }
    .ly-content {
      padding-bottom: 100px;
    }
  }

  .drawer-trigger {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    .label {
      display: none;
    }
    .bar {
      position: absolute;
      left: 15px;
      width: 20px;
      height: 2px;
      background: #fff;
      &.b1 {
        top: 20px;
      }
      &.b2 {
        top: 24px;
      }
      &.b3 {
        top: 28px;
      }
    }
    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }
  }
  .bi {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    .anchor {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 6px;
      height: 34px;
      border-radius: 4px;
      color: #fff;
      &:hover {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
  .menu-list {
    padding: 10px 0;
    .menu-item {
      margin-top: 1px;
      .anchor {
        position: relative;
        display: block;
        padding: 10px 15px;
        font-size: 0.85rem;
        color: var(--jdmi-color-5);
        .label {
          display: block;
        }
        .desc {
          display: block;
          font-size: 0.7rem;
          color: var(--jdmi-color-10);
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 3px;
          background: var(--jdmi-color-3);
          opacity: 0;
        }
      }
      &.activate {
        .anchor {
          color: var(--jdmi-color-2);
          .label {
            font-weight: 500;
          }
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
  .etc-menus {
    .anchor {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 6px;
      height: 34px;
      border-radius: 4px;
      color: #fff;
      font-size: 0.75rem;
      .icon {
        margin-left: 3px;
        font-size: 0.95rem;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
