<div class="ly-head">
  <button (click)="onDrawerToggle()">toggle</button>
  head
</div>
<mat-drawer-container class="ly-body" autosize>
  <mat-drawer #asideDrawer class="ly-aside" mode="side" [opened]="true">
    <div>
      <a routerLink="/">/home</a>
    </div>
    <div>
      <a routerLink="/getting-started">/getting-started</a>
    </div>
    <div>
      <a routerLink="/custom-open-strategy">/custom-open-strategy</a>
    </div>
    <div>
      <a routerLink="/pass-data-result">/pass-data-result</a>
    </div>

    <button class="test-one">123123</button>
  </mat-drawer>

  <div class="ly-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
