:host {
  display: block;
  padding: 30px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  max-width: 320px;
  border-radius: 0 4px 4px 0;
  background: #fff;
}
.test-input {
  padding: 5px;
  font-size: 18px;
}
.test-label {
  padding-left: 10px;
  font-size: 18px;
  color: #ccc;
  &.is-changed {
    color: #f00;
  }
}
