:host {
  display: block;
  width: 320px;
  height: 100%; // with fullHeight
  background: #fff;
}
.test-options {
  padding: 20px;
  .print {
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 1.6;
  }
}
.actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 20px 20px;
  .btn {
    margin: 2px;
  }
}
