<jdmi-section>
  <jdmi-h2>목표</jdmi-h2>
  <jdmi-p>
    FE 를 하다보면 모달 기능을 자주 사용합니다. 그만큼 모달 기능을 제공하는 좋은 라이브러리들이 아주 많습니다.
    <br />하지만, 백오피스가 아닌 사용자 서비스의 경우 디자인/기획/개발에 필요한 요구사항을 모두 만족하는 라이브러리를
    찾거나 커스텀 하는건 쉽지 않았습니다. <mark class="jdmi-p-highlight">@jood/ng-modal</mark> 역시 모든 요구사항을
    만족하긴 어렵겠지만,
    <mark class="jdmi-p-highlight">모달을 사용하면서 겪었던 어려움과 필요한 기능을 해결하기 위해</mark> 아래 목표를 두고
    제작 되었습니다.
  </jdmi-p>

  <jdmi-p>
    <ul class="jdmi-p-ul">
      <li class="jdmi-p-li">모달의 형태를 이루는 디자인 변경이 가능해야 한다.</li>
      <li class="jdmi-p-li">모달이 열리거나 닫히는 스타일(애니메이션) 정의가 가능해야 한다.</li>
      <li class="jdmi-p-li">모달로 열리는 컴포넌트와 그 하위 컴포넌트에 데이터 전달이 가능해야 한다.</li>
      <li class="jdmi-p-li">데이터 전달은 Props drilling 이 아닌 방법으로 제공되어야 한다.</li>
      <li class="jdmi-p-li">열려진 모달에서 전달한 결과를 (원한다면 어디든) 전달 받을 수 있어야 한다.</li>
      <li class="jdmi-p-li">모달이 열리거나 닫히는 상태를 (원한다면 어디든) 관찰 가능해야 한다.</li>
    </ul>
    <br />
    모달로 열리는 컴포넌트에 데이터를 전달하거나, 결과를 받는 방식 등은
    <mark class="jdmi-p-highlight">Angular Material</mark> 의
    <a target="_blank" href="https://material.angular.io/components/dialog/overview">Dialog</a> 와 거의 유사합니다.
  </jdmi-p>
</jdmi-section>

<jdmi-section>
  <jdmi-h2>설치 및 시작</jdmi-h2>
  <!-- prettier-ignore -->
  <jdmi-code-view code="$ npm install @jood/ng-modal"></jdmi-code-view>

  <jdmi-p>
    module 에서 <mark class="jdmi-p-highlight">JdModalModule</mark>을 imports 에 추가하고, 몇가지 초기 설정을 하는것으로
    사용할 수 있습니다. <br />사용법을 익히기 전에 아래 간단한 샘플 코드를 참고하세요.
  </jdmi-p>

  <jdmi-code-box>
    <mat-tab-group animationDuration="0ms" color="primary" backgroundColor="primary">
      <mat-tab label="app.module.ts">
        <jdmi-code-view [code]="codeAppModule"></jdmi-code-view>
      </mat-tab>
      <mat-tab label="app.component.ts">
        <jdmi-code-view [code]="codeAppComponent"></jdmi-code-view>
      </mat-tab>
      <mat-tab label="sample-modal.component.ts">
        <jdmi-code-view [code]="codeSampleModal"></jdmi-code-view>
      </mat-tab>
    </mat-tab-group>
  </jdmi-code-box>
</jdmi-section>
