:host {
  display: block;
  margin-top: var(--jdmi-partition);
  overflow: hidden;
  border-radius: 6px;
  background: #333333;
  &:first-child {
    margin-top: 0;
  }
  .code-inner {
    padding: 15px 20px;
    font-size: 0.8rem;
    line-height: 1.6;
    &.hljs-line-numbers {
      padding: 15px 10px 15px 5px;
    }
  }
}
