:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  height: 90vh;
  max-width: 480px;
  border-radius: 4px 4px 0 0;
  background: #fff;
  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-bottom: 1px solid #ccc;
  }
  .scroll-container {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    .test-box {
      margin: 10px;
      padding: 30px 20px;
      border: 1px dashed #f00;
    }
  }
}
