<jdmi-section>
  <jdmi-h2>OpenStrategy</jdmi-h2>
  <jdmi-p>
    OpenStrategy 는 <mark class="jdmi-p-highlight">모달이 열리고 닫을 때의 애니메이션(css style) 을 정의</mark>합니다.
    <br />interface OpenStrategy 을 구현하면 모달이 열리거나, 닫힐 때의 애니메이션을 없애거나 재정의 할 수 있습니다.
    <br />일반적으로 사용되는 모달 애니메이션은 이미 몇가지 구현되어 있습니다.
    <ul class="jdmi-p-ul">
      <li class="jdmi-p-li">
        <button mat-stroked-button color="primary" (click)="onOpenSampleStrategy('')">StackNormal(기본값)</button>
        중앙에서 열리고 닫힘.
      </li>
      <li class="jdmi-p-li">
        <button mat-stroked-button color="primary" (click)="onOpenSampleStrategy('left')">StackLeft</button>
        좌측에서 우측으로 열리고 닫힘.
      </li>
      <li class="jdmi-p-li">
        <button mat-stroked-button color="primary" (click)="onOpenSampleStrategy('right')">StackRight</button>
        우측에서 좌측으로 열리고 닫힘.
      </li>
      <li class="jdmi-p-li">
        <button mat-stroked-button color="primary" (click)="onOpenSampleStrategy('top')">StackTop</button>
        위에서 아래로 열리고 닫힘.
      </li>
      <li class="jdmi-p-li">
        <button mat-stroked-button color="primary" (click)="onOpenSampleStrategy('bottom')">StackBottom</button>
        아래에서 위로 열리고 닫힘.
      </li>
    </ul>
  </jdmi-p>

  <jdmi-hsplit>
    <!-- prettier-ignore -->
    <jdmi-code-view slot="aside" code="// Example 1
onOpen() {
  this.modalService.open({
    component: SomeComponent,
    openStrategy: new StackBottom(),
    floatingMode: true,
  });
}">
    </jdmi-code-view>

    <!-- prettier-ignore -->
    <jdmi-code-view slot="bside" code="// Example 2
onOpen() {
  this.modalService.open({
    component: SomeComponent,
    openStrategy: new StackRight(),
    floatingMode: true,
  });
}">
      </jdmi-code-view>
  </jdmi-hsplit>
</jdmi-section>

<jdmi-section>
  <jdmi-h3>CustomOpenStrategy</jdmi-h3>
  <jdmi-p>
    interface OpenStrategy 를 구현하면, 쉽게 애니메이션(style)을 변경할 수 있습니다.
    <br />OpenStrategy 를 직접 정의하기 위해 몇가지는 알고 진행하는게 좋습니다.
    <ul class="jdmi-p-ul">
      <li class="jdmi-p-li">interface OpenStrategy 를 구현합니다.</li>
      <li class="jdmi-p-li">위에서 이미 정의되어 있던 StackNormal, StackBottom 등 은 OpenStrategy 의 구현체 입니다.</li>
      <li class="jdmi-p-li">OpenStrategy 의 각 메소드는 style(css)세트를 반환합니다.</li>
      <li class="jdmi-p-li">opening(열리기 시작), closing(닫히기 시작) 등 주요 동작이 진행될때 호출됩니다.</li>
      <li class="jdmi-p-li">반환된 style 은 merge 되어 각 패널에 style 을 적용합니다.</li>
    </ul>
  </jdmi-p>
</jdmi-section>

<jdmi-section>
  <button mat-stroked-button color="primary" (click)="onOpen()">CustomOpenStrategy 으로 열기</button>
  <jdmi-code-box>
    <mat-tab-group animationDuration="0ms" color="primary" backgroundColor="primary">
      <mat-tab label="CustomOpenStrategy.ts">
        <jdmi-code-view [code]="codeCustomOpenStrategy"></jdmi-code-view>
      </mat-tab>
      <mat-tab label="DemoComponent.ts">
        <jdmi-code-view [code]="codeDemoComponent"></jdmi-code-view>
      </mat-tab>
      <mat-tab label="ModalBoxComponent.ts">
        <jdmi-code-view [code]="codeModalBoxComponent"></jdmi-code-view>
      </mat-tab>
    </mat-tab-group>
  </jdmi-code-box>
</jdmi-section>
