<p>custom-open-strategy works!</p>
<button (click)="onOpen()">onOpen</button>

<jdmi-section>
  <jdmi-code-box>
    <mat-tab-group animationDuration="0ms" color="primary" backgroundColor="primary">
      <mat-tab label="DemoComponent.ts">
        <jdmi-code-view [code]="codeDemoComponent"></jdmi-code-view>
      </mat-tab>
      <mat-tab label="ModalBoxComponent.ts">
        <jdmi-code-view [code]="codeModalBoxComponent"></jdmi-code-view>
      </mat-tab>
      <mat-tab label="CustomOpenStrategy.ts">
        <jdmi-code-view [code]="codeCustomOpenStrategy"></jdmi-code-view>
      </mat-tab>
    </mat-tab-group>
  </jdmi-code-box>
</jdmi-section>
